<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <button
    pButton
    icon="pi pi-bars"
    (click)="toggleSidebar()"
    class="toggle-btn p-button-text"
  ></button>
  <div class="menu-container">
    <ng-container *ngIf="isExpanded; else iconOnly">
      <p-menu [model]="items" [style]="{ width: '100%' }"></p-menu>
    </ng-container>
    <ng-template #iconOnly>
      <div class="icon-menu">
        <button
          pButton
          *ngFor="let item of items"
          [icon]="item.icon || ''"
          class="p-button-text icon-btn"
          [ngClass]="item.iconSize" 
          pTooltip="{{ item.label }}"
          tooltipPosition="right"
        ></button>
      </div>
    </ng-template>
  </div>
</div>
