<div class="page-container">
  <div *ngIf="isLoading" class="loading-container">
    <p>Wait, data is loading...</p>
  </div>

  <div *ngIf="societyData?.length" class="society-list">
    <div *ngFor="let user of societyData" class="society-card">
      <div class="society-header">
        <h4>Wing {{ user.name || "N/A" }}</h4>
      </div>

      <div class="society-details">
        <div class="detail-group">
          <p><b>Admin:</b> {{ user.User?.firstname || "N/A" }} {{ user.User?.lastname || "" }}</p>
          <p><b>Admin Number:</b> {{ user.User?.number || "N/A" }}</p>
        </div>
        <div class="detail-group">
          <p><b>Total Houses:</b> {{ user.numberOfHouses || "N/A" }}</p>
          <p><b>Total Members:</b> {{ user.numberOfUsers || "N/A" }}</p>
        </div>
      </div>

      <button class="details-button" (click)="goToWingDetails(user.name, user.id)">
        <i class="pi pi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
