<section class="container card">
  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">
    <p-card header="Registration Form">
      <p-stepper [(activeStep)]="active">
        <p-stepperPanel>
          <ng-template
            pTemplate="header"
            let-onClick="onClick"
            let-index="index"
          >
            <div
              class="bg-transparent border-none inline-flex flex-column gap-2"
            >
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                  'bg-primary border-primary': index <= (active ?? 0),
                  'surface-border': index > (active ?? 0)
                }"
              >
                <i class="pi pi-user"></i>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto">
              <div class="column">
                <div class="input-box">
                  <input
                    type="text"
                    pInputText
                    placeholder="First Name"
                    formControlName="firstname"
                  />
                  <small
                    *ngIf="reactiveForm.get('firstname')?.errors?.['required'] && reactiveForm.get('firstname')?.touched"
                  >
                    *First Name is a required field.
                  </small>
                  <small
                    *ngIf="reactiveForm.get('firstname')?.errors?.['noSpaceAllowed'] && reactiveForm.get('firstname')?.touched"
                  >
                    *No Space is allowed.
                  </small>
                </div>

                <div class="input-box">
                  <input
                    type="text"
                    pInputText
                    placeholder="Last Name"
                    formControlName="lastname"
                  />
                  <small
                    *ngIf="
                      reactiveForm.get('lastname')?.invalid &&
                      reactiveForm.get('lastname')?.touched
                    "
                  >
                    *Last Name is a required field.
                  </small>
                  <small
                    *ngIf="reactiveForm.get('lastname')?.errors?.['noSpaceAllowed'] "
                  >
                    *No Space is allowed.
                  </small>
                </div>
              </div>
            </div>

            <div class="input-box">
              <input
                type="text"
                placeholder="Email"
                pInputText
                formControlName="email"
              />
              <small
                *ngIf="
                  reactiveForm.get('email')?.errors?.['required'] &&
                  reactiveForm.get('email')?.touched
                "
              >
                *Email is required.
              </small>
              <small
                *ngIf="
                  reactiveForm.get('email')?.errors?.['invalidEmail'] &&
                  reactiveForm.get('email')?.touched
                "
              >
                *Please enter a valid email address.
              </small>
            </div>
            <div class="input-box">
              <input
                type="tel"
                pattern="[0-9]{10}"
                maxlength="10"
                placeholder="Phone Number"
                pInputText
                formControlName="number"
                inputmode="numeric"
                (keypress)="validateNumericInput($event)"
              />
              <small
                *ngIf="
                  reactiveForm.get('number')?.errors?.['required'] &&
                  reactiveForm.get('number')?.touched
                "
              >
                *Phone number is required.
              </small>
              <small
                *ngIf="
                  reactiveForm.get('number')?.hasError('pattern') &&
                  !reactiveForm.get('number')?.errors?.['required'] &&
                  reactiveForm.get('number')?.touched
                "
              >
                *Please enter a valid phone number.
              </small>
            </div>
            <div class="input-box mt-3">
              <p-calendar
                placeholder="DOB"
                formControlName="dateofbirth"
                [style]="{ width: '100%' }"
                [maxDate]="today"
              />
              <small
                *ngIf="
                  reactiveForm.get('dateofbirth')?.invalid &&
                  reactiveForm.get('dateofbirth')?.touched
                "
              >
                *Date of Birth is required.
              </small>
            </div>

            <div class="flex pt-4 justify-content-end">
              <p-button
                (onClick)="
                  onNextStep(
                    ['firstname', 'lastname', 'email', 'number', 'dateofbirth'],
                    nextCallback
                  )
                "
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
              />
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
          <ng-template
            pTemplate="header"
            let-onClick="onClick"
            let-index="index"
          >
            <div
              class="bg-transparent border-none inline-flex flex-column gap-2"
            >
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                          'bg-primary border-primary': index <= (active ??0),
                          'surface-border': index > (active ??0),
                      }"
              >
                <i class="pi pi-warehouse"></i>
              </span>
            </div>
          </ng-template>
          <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback"
            let-nextCallback="nextCallback"
          >
            <div formGroupName="address">
              <div class="input-box">
                <input
                  type="text"
                  pInputText
                  placeholder="Society Name"
                  formControlName="s_name"
                />
                <small
                  *ngIf="
                    reactiveForm.get('address.s_name')?.invalid &&
                    reactiveForm.get('address.s_name')?.touched
                  "
                >
                  *Society name is required.
                </small>
              </div>
              <div class="input-box">
                <input
                  type="text"
                  pInputText
                  placeholder="Street address "
                  formControlName="street"
                />
                <small
                  *ngIf="
                    reactiveForm.get('address.street')?.invalid &&
                    reactiveForm.get('address.street')?.touched
                  "
                >
                  *Street address is required.
                </small>
              </div>

              <div class="flex flex-column gap-2 mx-auto">
                <div class="column">
                  <div class="input-box">
                    <input
                      type="text"
                      pInputText
                      placeholder="Postal code"
                      formControlName="postal"
                      maxlength="6"
                      pattern="[0-9]*"
                      inputmode="numeric"
                      (keypress)="validateNumericInput($event)"
                      (input)="getStateByPincode()"
                    />
                    <small
                      *ngIf="
                        reactiveForm.get('address.postal')?.errors?.['required'] &&
                        reactiveForm.get('address.postal')?.touched
                      "
                    >
                      *Pincode is required.
                    </small>
                    <small
                      *ngIf="
                        reactiveForm.get('address.postal')?.hasError('pattern') &&
                        !reactiveForm.get('address.postal')?.errors?.['required'] &&
                        reactiveForm.get('address.postal')?.touched
                      "
                      class="p-error"
                    >
                      *Pincode must be 6 digits.
                    </small>
                    <small
                      *ngIf="
                        invalidPostalCode &&
                        !reactiveForm.get('address.postal')?.errors?.['required'] &&
                        !reactiveForm.get('address.postal')?.hasError('pattern')
                      "
                      class="p-error"
                    >
                      *Invalid Pincode.
                    </small>
                  </div>

                  <div class="input-box">
                    <input
                      type="text"
                      pInputText
                      formControlName="city"
                      readonly
                      placeholder="Your city"
                    />
                  </div>
                </div>
              </div>

              <div class="flex flex-column gap-2 mx-auto">
                <div class="column">
                  <div class="input-box">
                    <input
                      pInputText
                      type="text"
                      formControlName="state"
                      readonly
                      placeholder="Your state"
                    />
                  </div>
                  <div class="input-box">
                    <input
                      pInputText
                      type="text"
                      readonly
                      formControlName="country"
                      placeholder="Your country"
                    />
                  </div>
                </div>
              </div>

              <div class="flex pt-4 justify-content-between">
                <p-button
                  (onClick)="prevCallback.emit()"
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                />
                <p-button
                  (onClick)="
                    onNextStep(
                      [
                        'address.s_name',
                        'address.street',
                        'address.postal',
                        'address.city',
                        'address.state',
                        'address.country'
                      ],
                      nextCallback
                    )
                  "
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                />
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
          <ng-template
            pTemplate="header"
            let-onClick="onClick"
            let-index="index"
          >
            <div
              class="bg-transparent border-none inline-flex flex-column gap-2"
            >
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                  'bg-primary border-primary': index <= (active ?? 0),
                  'surface-border': index > (active ?? 0)
                }"
              >
                <i class="pi pi-upload"></i>
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="content" let-prevCallback="prevCallback">
            <div class="flex flex-column gap-2 mx-auto">
              <div class="text-start text-xl font-semibold">
                Upload Society Details
              </div>

              <!-- Instruction to Download Sample CSV -->
              <div class="text-start">
                <p>
                  Download the sample CSV to fill out your society details:
                  <a
                    class="font-italic text-blue-500 border-bottom-1"
                    (click)="downloadSampleCSV()"
                    >Click me</a
                  >
                </p>
              </div>

              <!-- Upload CSV/Excel File -->
              <div class="mt-2 mb-4">
                <p>After filling the CSV, upload it below:</p>
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  accept=".csv, .xlsx"
                />
              </div>

              <small class="text-red-500" *ngIf="fileError">{{
                fileError
              }}</small>
            </div>
            <div class="text-start text-xl font-semibold mb-4">
              Your House Number Preference ?
            </div>

            <div class="flex flex-wrap justify-content-center gap-3">
              <p-radioButton
                formControlName="house_option"
                label="A-101"
                name="house_option"
                value="A-101"
              />
              <p-radioButton
                formControlName="house_option"
                label="A-11"
                name="house_option"
                value="A-11"
              />
              <p-radioButton
                formControlName="house_option"
                label="A-1001"
                name="house_option"
                value="A-1001"
              />
            </div>

            <div class="flex pt-4 justify-content-between">
              <p-button
                (onClick)="prevCallback.emit()"
                label="Back"
                severity="secondary"
                icon="pi pi-arrow-left"
              />
              <p-button
                label="Submit"
                (onClick)="OnFormSubmitted()"
                icon="pi pi-check"
              />
            </div>
          </ng-template>
        </p-stepperPanel>
      </p-stepper>
    </p-card>
  </form>
</section>

<div class="card flex justify-content-center gap-2">
  <p-toast />
</div>
