.no-user-selected {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(133,150,160);
}

.no-user-selected p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}


.chat-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding: 20px; */
 
}

.user-card {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgb(133,150,160);
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-window {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f5f5f5;
  height: 80%;
}

.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* max-width: 80%; */
  word-wrap: break-word;
  padding: 5px;
  border-radius: 5px;
}

.message.sent {
  background-color: #dcf8c6;
  flex-direction: row;
  text-align: left;
}

.message.received {
  background-color: #ffffff;
  flex-direction: row-reverse;
  text-align: right;
}

.message-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.message-text p {
  margin: 0;
}


.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  height: 10%;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-right: 1px solid #ccc;
  height: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
}


