<div class="chat-container">
    <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
  
    <div class="chat-window" *ngIf="selectedUser">
      <div class="message" *ngFor="let message of messages" [ngClass]="{'sent': message.isSender, 'received': !message.isSender}">
        <div class="message-text">{{ message.text }}</div>
      </div>
    </div>
  
    <div class="input-container" *ngIf="selectedUser">
      <input [(ngModel)]="newMessage" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  
    <div *ngIf="!selectedUser">Please select a user to start chatting.</div>
  </div>
  