<div class="chat-container">
  <ng-container *ngIf="selectedUser; else noUserSelected">
    <div class="user-card">
      <p>{{ selectedUser.firstname }}</p>
    </div>
    <div class="chat-window" #chatWindow>
      @defer (when !isLoading) {
        <div
          class="message"
          *ngFor="let message of messages"
          [ngClass]="{ sent: message.isSender, received: !message.isSender }"
        >
          <small><p>{{message.createdAt}}</p></small>
          <p>{{message.text}}</p>
        </div>
      } @loading() {
        <div class="loading-messages">Loading chat messages...</div>
      }
    </div>
    <div class="input-container">
      <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  </ng-container>

  
  <ng-template #noUserSelected >
    <div class="no-user-selected">
      <p>Select a user to start chat</p>
    </div>
  </ng-template>
</div>