::ng-deep  .mat-typography p {
    margin: 0 !important
}



.user-name{
    font-weight: bold; /* Make the first paragraph bold */
    color: #000; /* Use a darker color for the first paragraph */
}

.user-role{
    font-weight: normal; /* Normal weight for the second paragraph */
    color: #666; /* Use a lighter color for the second paragraph */
    font-size: small;
}


/* Center avatar and add some space from the edges */
.p-avatar {
    margin-right: 10px;
  }
  
  /* Optional: Customize dropdown menu appearance */
  .ui-menu {
    min-width: 150px;
  }
  