<div class="card">
  <p-tabView>
    <p-tabPanel header="Users">
      <ng-template pTemplate="content">
        <app-society-users></app-society-users>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Apartment">
      <ng-template pTemplate="content">
        <app-apartment></app-apartment>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Events">
      <ng-template pTemplate="content">
        Event list of a society to display here.....
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
