<div class="main-container">
  <div class="surface-0 forum-container">
    <!-- Navigation Bar -->
    <div class="navigation-bar">
      <p-chip
        *ngFor="let section of forumSections"
        label="{{ section.name }}"
        (click)="selectSection(section)"
        [styleClass]="
          section.name === selectedSection ? 'p-chip-selected' : 'p-chip'
        "
      >
      </p-chip>
    </div>

    <!-- Forum Header with Create Button -->
    <div class="forum-header">
      <h1 class="forum-title">Community Forum</h1>
      <button
        pButton
        icon="pi pi-plus"
        (click)="showCreateThreadForm()"
        class="p-button-rounded p-button-secondary create-thread-btn"
      ></button>
    </div>

    <!-- Scrollable Forum Content Section -->
    <div class="forum-content">
      @if(forumPosts.length > 0){
      <div class="post-list">
        <div *ngFor="let post of forumPosts" class="post-card">
          <!-- First div: Author's Picture -->
          <div class="author-section">
            <p-avatar
              [image]="post?.User?.photo"
              size="large"
              class="author-avatar"
            ></p-avatar>
          </div>

          <!-- Second div: Post Details -->
          <div class="post-details">
            <h3 class="post-title">{{ post?.title }}</h3>
            <p class="post-content">{{ post?.content }}</p>
            <small class="post-author"
              >Posted by {{ post?.User?.firstname }}</small
            >
            <small class="replied-count">Replied: {{ post?.replyCount }}</small>
          </div>

          <!-- Third div: Overlapping Images of Posts -->
          <div class="post-images">
            <p-avatar-group *ngIf="post?.attachmentUrls?.length > 0">
              <p-avatar
                *ngFor="let image of post?.attachmentUrls; let i = index"
                [image]="image"
                size="large"
                [style.zIndex]="post?.attachmentUrls.length - i"
              ></p-avatar>
            </p-avatar-group>
          </div>
          <div
            class="post-images-placeholder"
            *ngIf="!post?.attachmentUrls?.length"
          >
            <small class="no-attachments-message"
              >No attachments provided</small
            >
          </div>
        </div>
      </div>
      } @else if (forumPosts.length == 0){

      <div class="no-posts-message">
        No threads found. Be the first to post!
      </div>

      }
    </div>

    <!-- Create Thread Modal -->
    <p-dialog
      [(visible)]="createThreaddialogue"
      [modal]="true"
      [header]="'Create New Thread'"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
      [draggable]="false"
    >
      <app-thread (threadCreated)="onThreadCreated($event)"></app-thread>
    </p-dialog>
  </div>
</div>
