/* Forum Container */
.forum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f9fafa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
}

/* Navigation Bar */
:host ::ng-deep .navigation-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  scrollbar-width: thin;
}

.navigation-bar::-webkit-scrollbar {
  height: 4px;
}

.navigation-bar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 2px;
}

/* Forum Header */
.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 1rem 0;
}

:host ::ng-deep .p-chip {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 16px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .p-chip-selected {
  font-size: 0.8rem;
  color: red;
  text-decoration: overline;
  border: 1px solid white;
  font-weight: 800;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin-bottom: 0.375rem;
}

/* Hover Effect for All Chips */
:host ::ng-deep .p-chip:hover {
  background-color: #007bff;
  color: white;
}

.forum-title {
  font-size: 1.8rem;
  color: #495057;
  font-weight: bold;
}

/* Create Thread Button */
.create-thread-btn {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.create-thread-btn:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}

/* Forum Content */
.forum-content {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 65vh;
}

.forum-content::-webkit-scrollbar {
  width: 8px;
}

.forum-content::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
}

.post-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.post-author {
  font-size: 0.875rem;
  color: #6c757d;
}

/* No Posts Message */
.no-posts-message {
  font-size: 1.2rem;
  color: #6c757d;
  text-align: center;
  margin-top: 2rem;
}

.post-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.author-section {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.author-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-details {
  flex-grow: 1;
  max-width: 40%;
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.post-content {
  font-size: 1em;
  margin: 5px 0;
}

.post-author,
.replied-count {
  font-size: 0.9em;
  color: #6c757d;
}

.replied-count {
  margin-left: 10px;
}

.post-images {
  display: flex;
  justify-content: flex-end;
  width: 35%;
  min-width: 150px;
  position: relative;
}

.p-avatar-group {
  display: flex;
  justify-content: flex-end;
}

.p-avatar {
  border: 2px solid white;
  margin-left: -10px; /* Overlap effect */
  transition: all 0.3s ease;
}

.p-avatar-group .p-avatar:first-child {
  margin-left: 0;
}
