/* Main container for the forum */
.forum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-0);
}

:host ::ng-deep .navigation-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
  scrollbar-width:thin;
  
}

.navigation-bar::-webkit-scrollbar {
  height: 0px;
}

.navigation-bar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
/* General Chip Style */
:host ::ng-deep .p-chip {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 16px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .p-chip-selected {
  font-size: 1rem;
  color: red;
  text-decoration:overline;
  border: 1px solid white;
  font-weight: 800;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

/* Hover Effect for All Chips */
:host ::ng-deep .p-chip:hover {
  background-color: #007bff;
  color: white;
}

/* Create New Thread Button Container */
:host ::ng-deep .create-btn{
  display: flex;
  justify-content: start;
 
}

/* Scrollable Forum Section */
.forum-content {
  flex: 1;
  width: 60%;
  max-width: 800px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: red;
  border-radius: 8px;
  overflow-y: auto; 
  max-height: 68vh;
}

.forum-content::-webkit-scrollbar {
  width: 8px; /* Custom vertical scrollbar width */
}

.forum-content::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

/* Post Card Styling */
.post-card {
  background-color: var(--surface-card);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1rem; /* Adds spacing between posts */
  padding: 1rem; /* Adds padding inside each post */
  border-radius: 8px; /* Optional rounded corners for cards */
}

.post-card:hover {
  transform: scale(1.02); /* Slight enlargement on hover */
}
