<p-toast></p-toast>


<div class="top-profile  ">
  <h4>Register Security Gaurd</h4>
  <form [formGroup]="securityGuardForm">
    <div
          class="flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
        >
          <p>Role</p>
          <p-dropdown
            class="abc"
            [options]="roles"
            formControlName="role"
            optionLabel="name"
            placeholder="Select Your Role"
          />
        </div>
    <div
      class="p-field flex align-items-center gap-4 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" pInputText />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="lastname">Number</label>
      <input
        type="tel"
        pattern="[0-9]{10}"
        maxlength="10"
        placeholder="Phone Number"
        pInputText
        formControlName="contactNumber"
        inputmode="numeric"
      />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        pInputText
        formControlName="email"
        placeholder="(Optional)"
      />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="name">Address</label>
      <input id="address" type="text" formControlName="address" pInputText />
    </div>

    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="dateofbirth">Start Date</label>
      <p-calendar
        formControlName="startDate"
        dateFormat="dd/mm/yy"
        appendTo="body"
      />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-center px-4 flex-wrap mb-4"
    >
      <p-button
        (onClick)="onSubmit()"
        label="submit"
        [disabled]="!securityGuardForm.valid"
      />
    </div>
  </form>
</div>


