.sidebar {
    width: 60px;
    height: 100%;
    background-color: var(--gray-200);
    transition: width 0.3s;
    border-right: 2px solid   var(--offwhite);
  }
  .sidebar.expanded {
    width: 250px;
  }
  ::ng-deep .toggle-btn .p-button-icon{
  
    font-size: 1.5rem;
    margin-left: 10px
  }
  .menu-container {
    margin-top: 20px;
  }
  .icon-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-btn {
    margin: 5px 0;
    width: 60px;
    height: 60px;
  }
  
  :host ::ng-deep .p-menu {
    width: 100%;
    border: none;
  }
  
  /* :host ::ng-deep .pi {
    font-size: 1.5rem; /* This will affect all PrimeNG icons within this component */
  /* } */ 
  
  ::ng-deep .large .p-button-icon { font-size: 1.5rem;}
  
  ::ng-deep .menuwraper .p-menubar .p-submenu-list {
    position: absolute;
    z-index: 2;
    max-width: fit-content;
  }
  
  
  .p-button.p-button-text {
    color: #1a1b1f;
    
  }
  
  .p-button.p-button-text:hover {
    color: blue;;
  }
  .p-button.p-button-text:active {
    color: blue;;
  }
  
  
  
  