<p-menubar [model]="items"  autoDisplay="false">

  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-2">
      <img src="assets/mygate.svg" alt="mygate"  class="ml-2">
      <!-- <span class="font-bold text-xl">MyGate</span> -->
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    <a class="p-menuitem-link">
      <span class="p-menuitem-icon" [ngClass]="item.icon"></span>
      <span class="p-menuitem-text">{{item.label}}</span>
      <p-badge *ngIf="item.badge" [value]="item.badge" styleClass="p-badge-info"></p-badge>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-4 mr-4">
      <p-menu #menu [model]="item" popup="true"></p-menu>
      <p-avatar
        [image]="
          user.photo ||
          'https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg'
        "
        shape="circle"
        [style]="{ width: '50px', height: '50px' }"
        (click)="menu.toggle($event)"
        tabindex="0"
        (keydown)="menu.toggle($event)"
      ></p-avatar>
      <div
        class="flex flex-column justify-content-center align-items-start gap-0"
      >
        <p class="user-name">{{ user.firstname + ' ' +(user.lastname || '') }}</p>
        <p class="user-role">{{ user.role || 'N/A' }}</p>
      </div>
    </div>
  </ng-template>
</p-menubar>
