.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.content-shifted {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

