.dashboard {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 100%;

}
.content-shifted {
  margin-left: 10px;
  transition: margin-left 0.3s;
 
  max-width: 100%;
}

.main-nav{
  background-color: whitesmoke;
  width: 100%;

}

