.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100bh;
}
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 100%;

}
.content-shifted {
  margin-left: 10px;
  transition: margin-left 0.3s;
 
  max-width: 100%;
}

.main-nav{
  /* background-color: blue; */
  width: 100%;
}

