.page-container {
    height: 100%;
    background-color: var(--gray-200);
    overflow-y: auto;
  }
  
  .card {
    background-color: var(--offwhite);
    box-shadow: 0 4px 13px #e1e1e1;
    border: none; 
    margin:20px;
    border-radius: 7px;
    align-items: center;
  }
  
  .personal-details{
    line-height: 1.5;
  font-weight: 500;
  }
  .personal-details p{
  height: 35px;
  color: #4b5563;
  font:16px;
  letter-spacing: 1px;
  letter-spacing: 1.5;
  display: flex;
  align-items: center;
  white-space: nowrap;
  }


  .owner {
    background-color: #1779ce; /* light highlight for the owner */
    font-weight: bold;
  }
  
  .badge-primary {
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
  }
  
  