<!-- user-list.component.html -->
<p-table [value]="users" class="p-datatable-sm" >
  <ng-template pTemplate="header">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Number</th>
      <th>Email</th>
      <th>
        <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch($event)" 
        placeholder="Search users..."
      />
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user >
    <tr>
      <td>
        <img
          [src]="user.photo"
          alt="{{ user.firstname }}"
          class="p-shadow-2"
          style="width: 50px; height: 50px; border-radius: 50%"
        />
      </td>
      <td>{{ user.firstname }} {{ user.lastname }}</td>
      <td>{{ user.number }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button
          pButton
          type="button"
          label="View"
          icon="pi pi-eye"
          class="p-button-outlined"
          (click)="viewUserDetails(user)"
        >
          View
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Display "No users found" message if no users found -->
<div *ngIf="noUsersFound" class="flex justify-content-center align-items-center mt-6 mb-6">
  <p><b>No users found for the search query.</b></p>
</div>

<div class="card flex justify-content-center">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  />
</div>
