<div class="mx-8 mt-8">
  <div class="display-card">
    <div class="flex justify-content-between mb-4">
      <p><b>Notifications</b></p>
      <i
        class="pi pi-plus-circle"
        style="font-size: 1.5rem; cursor: pointer"
        (click)="showNoticeForm()"
      ></i>
    </div>
    <div>
      <!-- user-list.component.html -->
      <p-table [value]="notices"  class="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
            <th>Time</th>
            <th>Author</th>
            <th>Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-notice>
          <tr>
            <td>{{ notice.text  }} </td>
            <td>{{ notice.createdAt | date:'EEEE , d , MMM' }}</td>
            <td>{{ notice.User.firstname }} {{ notice.User.lastname }}</td>
            <td>
              <button
                pButton
                type="button"
                label="View"
                icon="pi pi-eye"
                class="p-button-outlined"
              >
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--  create notice form -->
<p-dialog [(visible)]="noticeForm">
  <div class="main-container">
    <p-card header="Create    Notice" [style]="{ width: '360px' }">
      <div class="field">
        <label for="email">Description</label>
        <input
          type="text"
          pInputText
          class="w-full"
          name="email"
          [(ngModel)]="noticeDescription"
          placeholder="Description..."
        />
      </div>
      <!-- Media Upload Field -->
      <div class="field">
        <label for="media">Media</label>
        <input
          type="file"
          pInputText
          class="w-full"
          name="files"
          accept="image/*"
          multiple
          #fileInput
          (change)="onFileSelected($event)"
        />
      </div>
      <p-button
        label="CREATE"
        styleClass="w-full"
        severity="contrast"
        type="submit"
        (click)="createNotice(fileInput)"
      />
    </p-card>
  </div>
</p-dialog>

<div class="card flex justify-content-center gap-2">
  <p-toast />
</div>
