

.user-list-box {
  background-color: #3c3c3c;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}


.user-list-container {
  flex-grow: 1;
  overflow-y: auto; 
  padding-right: 10px;
  background-color: inherit;
}
.user-nav-card {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
}

.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-card {
  display: flex;
  align-items: center;
  background-color: inherit;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  height: 60px;
  cursor: pointer;
}

.user-card:hover {
  background-color: rgb(133, 150, 160);
}