.page-view {
  display: flex;
  flex-direction: column;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 100%;
  background-color: var(--gray-700);
}
.content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 10vh);
  overflow: hidden;
}

.side.nav {
  height: 100%;
}

.content-shifted {
  transition: margin-left 0.3s;
  max-width: 100%;
}

.main-display {
  background-color: whitesmoke;
  width: 100%;
  overflow-y: auto;
}
