<div class="header-container">
  <p-button
    label="Send Request"
    icon="pi pi-plus"
    (onClick)="showDialog()"
    class="add-visitor-btn"
  ></p-button>
  <p-button
    label="Verify Passcode"
    icon="pi pi-lock"
    (onClick)="showVerificationDialog()"
    class="verify-passcode-btn"
  ></p-button>
</div>

<p-dialog
  header="Visitor Details"
  [(visible)]="display"
  modal="modal"
  [responsive]="true"
  styleClass="visitor-dialog"
  (onHide)="closeDialog()"
>
  <div class="visitor-form-container">
    <form
      [formGroup]="visitorForm"
      (ngSubmit)="onSubmit()"
      class="visitor-form"
    >
      <div class="form-group">
        <label for="name">Visitor Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="p-inputtext p-component"
          placeholder="Enter visitor name"
        />
        <small
          *ngIf="
            visitorForm.get('name')?.invalid && visitorForm.get('name')?.touched
          "
        >
          Name is required
        </small>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          id="phone"
          type="text"
          formControlName="phone"
          class="p-inputtext p-component"
          placeholder="Enter phone number"
        />
        <small
          *ngIf="
            visitorForm.get('phone')?.invalid &&
            visitorForm.get('phone')?.touched
          "
        >
          Phone number is required
        </small>
      </div>

      <div class="form-group">
        <label for="purpose">Purpose of visit</label>
        <input
          id="purpose"
          type="text"
          formControlName="purpose"
          class="p-inputtext p-component"
          placeholder="Enter visit purpose"
        />
        <small
          *ngIf="
            visitorForm.get('purpose')?.invalid &&
            visitorForm.get('purpose')?.touched
          "
        >
          Purpose is required
        </small>
      </div>

      <div class="form-group">
        <label for="wingId">Select Wing</label>
        <p-dropdown
          [options]="wings"
          formControlName="wingId"
          placeholder="Select Wing"
          class="p-inputtext p-component"
          (onChange)="onWingSelection($event.value)"
        ></p-dropdown>
        <small
          *ngIf="
            visitorForm.get('wingId')?.invalid &&
            visitorForm.get('wingId')?.touched
          "
        >
          Wing is required
        </small>
      </div>

      <div class="form-group">
        <label for="houseId">Select House</label>
        <p-dropdown
          [options]="houses"
          formControlName="houseId"
          placeholder="Select House"
          class="p-inputtext p-component"
        ></p-dropdown>
        <small
          *ngIf="
            visitorForm.get('houseId')?.invalid &&
            visitorForm.get('houseId')?.touched
          "
        >
          House is required
        </small>
      </div>

      <div class="form-group">
        <label for="image">Visitor Image</label>
        <div class="file-upload">
          <label class="custom-file-upload">
            <input
              type="file"
              (change)="onFileSelected($event)"
              class="file-input"
              accept="image/*"
            />
            Choose File
          </label>
          <p class="file-name" *ngIf="selectedFileName">
            {{ selectedFileName }}
          </p>
        </div>
        <small *ngIf="!selectedFile && formSubmitted">Image is required</small>
      </div>

      <div class="form-buttons">
        <button
          pButton
          type="submit"
          label="Submit"
          class="submit-btn"
        ></button>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  header="Enter Passcode"
  [(visible)]="verifyDialog"
  modal="modal"
  [responsive]="true"
  styleClass="verify-dialog"
  (onHide)="closeVerificationDialog()"
>
    <form [formGroup]="verificationForm" class="verification-form">
      <div class="form-group">
        <p-inputOtp
          formControlName="passcode"
          [integerOnly]="true"
          [length]="6"
          placeholder="******"
          class="p-inputOtp otp-input"
        ></p-inputOtp>
        <small
          *ngIf="
            verificationForm.get('passcode')?.invalid &&
            verificationForm.get('passcode')?.touched
          "
        >
          Passcode is required
        </small>
      </div>
      <div class="form-buttons">
        <button
          pButton
          type="submit"
          label="Verify"
          class="verify-btn"
          [disabled]="verificationForm.invalid"
        ></button>
      </div>
    </form>
</p-dialog>

<p-table [value]="visitors" *ngIf="visitors.length > 0">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Passcode</th>
      <th scope="col">Visit Start</th>
      <th scope="col">Visit End</th>
      <th scope="col">Time</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-visitor>
    <tr>
      <td>{{ visitor.name }}</td>
      <td>{{ visitor.number }}</td>
      <td>{{ visitor.passcode }}</td>
      <td>{{ visitor.startDate | date : "shortDate" }}</td>
      <td>{{ visitor.endDate | date : "shortDate" }}</td>
      <td>{{ visitor.visitTime }}</td>
    </tr>
  </ng-template>
</p-table>
<p *ngIf="visitors.length === 0">No expected visitors to display.</p>

<div class="card flex justify-content-center gap-2">
  <p-toast />
</div>
