.sidebar {
  width: 60px;
  height: 100%;
  background-color: var(--gray-200);
  transition: width 0.3s;
  border-right: 1px solid   var(--offwhite);

}
.sidebar.expanded {
  width: 250px;
}
::ng-deep .toggle-btn .p-button-icon{

  font-size: 1.5rem;
  margin-left: 10px
}
.menu-container {
  margin-top: 10px;

}
.icon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-btn {
  margin: 5px 0;
  width: 50px;
  height: 50px;
}

:host ::ng-deep .p-menu {
  width: 100%;
  border: none;
}


::ng-deep .large .p-button-icon { font-size: 1.5rem;}

::ng-deep .menuwraper .p-menubar .p-submenu-list {
  position: absolute;
  z-index: 2;
  /* max-width: fit-content; */
}


.p-button.p-button-text {
  color: #1a1b1f;
  
}

.p-button.p-button-text:hover {
  color: blue;;
}
.p-button.p-button-text:active {
  color: blue;;
}



