<section class="container card">
  <header>Registration Form</header>

  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">
    <p-card>
      <div class="column">
        <div class="input-box">
          <input
            type="text"
            pInputText
            placeholder="First Name"
            formControlName="firstname"
          />
          <small
            *ngIf="reactiveForm.get('firstname')?.errors?.['required'] && reactiveForm.get('firstname')?.touched"
          >
            *First Name is a required field.
          </small>
          <small
            *ngIf="reactiveForm.get('firstname')?.errors?.['noSpaceAllowed'] && reactiveForm.get('firstname')?.touched"
          >
            *No Space is allowed for First Name.
          </small>
        </div>

        <div class="input-box">
          <input
            type="text"
            pInputText
            placeholder="Last Name"
            formControlName="lastname"
          />
          <small
            *ngIf="
              reactiveForm.get('lastname')?.invalid &&
              reactiveForm.get('lastname')?.touched
            "
          >
            *Last Name is a required field.
          </small>
        </div>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Email" pInputText formControlName="email" />
        <small
          *ngIf="
            reactiveForm.get('email')?.invalid &&
            reactiveForm.get('email')?.touched
          "
        >
          *Entered Email is not valid.
        </small>
      </div>


      <div class="input-box address" formGroupName="address">
        <label>Address</label>
        <input
          type="text"
          pInputText
          placeholder="Street address"
          formControlName="street"
        />
        <small
          *ngIf="
            reactiveForm.get('address.street')?.invalid &&
            reactiveForm.get('address.street')?.touched
          "
        >
          *Street address is a required field.
        </small>
        <div class="column">
          <div class="select-box">
            <select name="country" formControlName="country">
              <option hidden>Country</option>
              <option>America</option>
              <option>Japan</option>
              <option>India</option>
              <option>Nepal</option>
            </select>
            <small
              *ngIf="
                reactiveForm.get('address.country')?.invalid &&
                reactiveForm.get('address.country')?.touched
              "
            >
              *Country is a required field.
            </small>
          </div>
          <input type="text" placeholder="City" pInputText formControlName="city" />
        </div>
        <div class="column">
          <input type="text" placeholder="Region" formControlName="region" />
          <input
            type="number"
            pInputText
            placeholder="Postal code"
            formControlName="postal"
          />
          <small
            *ngIf="
              reactiveForm.get('address.postal')?.invalid &&
              reactiveForm.get('address.postal')?.touched
            "
          >
            *Postal code is a required field.
          </small>
        </div>
      </div>

      <button type="submit" class="btn-submit">Submit</button>
      <button type="button" class="btn-submit" (click)="goToLoginPage()">go to login page</button>
    </p-card>
  </form>
</section>
