.visitor-dialog {
  width: 40vw;
  max-width: 600px;
}

.visitor-form-container {
  padding: 1.5rem;
}

.p-field.p-grid {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.p-field.p-grid label {
  font-weight: bold;
}

.p-field.p-grid .p-col {
  flex: 1;
  position: relative;
}

::ng-deep .p-col input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #4b5563;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 5px;

}

.p-error {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
  font-size: 0.8em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.visitor-card {
  width: 350px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content {
  padding: 10px;
}

.visitor-details {
  font-size: 1.1em;
}

.visitor-details p {
  margin: 5px 0;
}

.card-footer {
  text-align: center;
  margin-top: 20px;
}

.logo {
  max-width: 100px;
  height: auto;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

p-button {
  margin: 10px;
}
