<div class="calendar flex flex-column">
  <div
    class="calander-navigation flex align-items-center justify-content-center gap-4"
  >
    <p-button pRipple (onClick)="changeMonth(-1)">&#8249;</p-button>
    <div class="flex gap-1 flex-column align-item-center">
      <span>{{ currentMonth | date : "MMMM yyyy" }}</span>
      @if(isAdmin){
      <p-button (onClick)="addEvent()" class="add-event-btn"
        >Add Event</p-button
      >
      }
    </div>
    <p-button pRipple (onClick)="changeMonth(1)">&#8250;</p-button>
  </div>

  <div class="calendar-container">
    <table class="calendar-table">
      <thead>
        <tr>
          <th *ngFor="let day of daysOfWeek">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td
            *ngFor="let day of week"
            [ngClass]="{
              disabled: day.isDisabled,
              highlighted: isToday(day.date)
            }"
            [ngStyle]="{
              'background-color': isToday(day.date)
                ? 'var(--gray-300)'
                : day.isDisabled
                ? '#f0f0f0'
                : day.events.length > 0
                ? day.events[0].color
                : 'transparent'
            }"
            (click)="eventDay(day)"
          >
            {{ day.date.getDate() }}

            <!-- Display events, if any -->
            <div *ngIf="day.events.length > 0" class="events">
              <div
                *ngFor="let event of day.events"
                class="event"
                (mouseenter)="showTooltip($event, event)"
                (mouseleave)="hideTooltip()"
              >
                {{ event.title }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Tooltip Popup -->
<div
  *ngIf="tooltipVisible"
  class="tooltip"
  [ngStyle]="{ top: tooltipPosition.top, left: tooltipPosition.left }"
>
  <p>{{ tooltipContent }}</p>
</div>

<!-- Add-event-->

<div class="event-calander card flex justify-content-center">
  <p-dialog
    header="Add Event to Calander"
    [modal]="true"
    [(visible)]="addEventFlag"
    [style]="{ width: '25rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <label for="title" class="font-semibold w-6rem">Title</label>
      <textarea
        id="title"
        rows="1"
        class="flex-auto"
        pInputText
        autocomplete="off"
        [(ngModel)]="eventData.title"
      >
      </textarea>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="description" class="font-semibold w-6rem">Description</label>
      <textarea
        rows="2"
        id="description"
        class="flex-auto"
        pInputText
        autocomplete="off"
        [(ngModel)]="eventData.description"
      ></textarea>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="start_date" class="font-semibold w-6rem">Event Date</label>
      <p-calendar
        [touchUI]="true"
        [readonlyInput]="true"
        [(ngModel)]="eventData.start_date"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="addEventFlag = false"
      />
      <p-button label="Add" (onClick)="onEventSubmit()" />
    </div>
  </p-dialog>
</div>
