::ng-deep .tabview-custom{
/* overflow-y: scroll; */
overflow-y: auto;

}
::ng-deep .p-tabview-nav{
  display: flex;
  justify-content: center;
  background: whitesmoke;
}


.main-container{
  background-color: whitesmoke;
}

.top-profile{
  background-color: white;
  box-shadow: 0 4px 13px #e1e1e1;
  border: none;
  border-radius: 7px;
  align-items: center;
}

 .left-label{
  min-width: 220px;
}

.personal-details{
  font-weight: 500;
  line-height: 1.5;
}
.personal-details p{
height: 35px;
display: flex;
align-items: center;
white-space: nowrap;
}


