::ng-deep .tabview-custom {
  overflow-y: auto;
  height: 100%;
  /* overflow-y: auto; */
}
::ng-deep .p-tabview-nav {
  display: flex;
  justify-content: center;
  background: var(--offwhite);
}

::ng-deep .p-tabview .p-tabview-panels {
  background: var(--gray-200);
  min-height: 85.8vh;
}

::ng-deep .p-tabview-nav li .p-tabview-nav-link {
  background: var(--gray-200);
  background-color: var(--gray-200);
}

.main-container {
  background-color: var(--gray-200);
  overflow-y: auto;
  padding: 1rem;
}

.top-profile {
  background-color: var(--offwhite);
  box-shadow: 0 4px 13px #e1e1e1;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

.bottom-profile {
  background-color: var(--offwhite);
  box-shadow: 0 4px 13px #e1e1e1;
  border: none;
  border-radius: 7px;
  align-items: center;
}

.left-label {
  min-width: 220px;
}

.right-label {
  min-width: 150px;
  margin-left: 85px;
}

.personal-details {
  font-weight: 500;
  line-height: 1.5;
  padding: 1rem;
}
.personal-details p {
  height: 35px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.p-inputwrapper {
  width: 100%;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.p-field {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.p-field label {
  width: 150px; /* Adjust the width as needed */
  margin-right: 1rem;
  font-weight: bold;
  color: #333; /* Label color for better visibility */
}

.p-field input,
.p-field p-dropdown,
.p-field p-calendar {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
}

.p-field input:focus,
.p-field p-dropdown:focus,
.p-field p-calendar:focus {
  border-color: #007ad9;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 122, 217, 0.5);
}

.p-fluid {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

p-button {
  margin-top: 1rem;
}

p-dialog {
  padding: 1rem;
}

.card {
  margin-right: 1rem;
}
