::ng-deep .tabview-custom{

/* max-height: calc(100vh-80px); */
max-height: 92.8vh;
overflow-y: auto;
}
::ng-deep .p-tabview-nav{
  display: flex;
  justify-content: center;
  background:  var(--offwhite);
}

::ng-deep .p-tabview .p-tabview-panels{
background:  var(--gray-200)  ;
min-height: 85.8vh;
}


::ng-deep .p-tabview-nav li .p-tabview-nav-link {
  background:  var(--gray-200)  ;
  background-color:  var(--gray-200)  ;
}

.main-container{
  background-color: var(--gray-200);
  overflow-y: auto;

}

.top-profile{
  background-color: var(--offwhite);
  box-shadow: 0 4px 13px #e1e1e1;
  border: none;
  border-radius: 7px;
  align-items: center;
}

.bottom-profile{
   background-color: var(--offwhite);
  box-shadow: 0 4px 13px #e1e1e1;
  border: none;
  border-radius: 7px;
  align-items: center;
}

 .left-label{
  min-width: 220px;
}


.right-label{
  min-width: 150px;
  margin-left: 70px;
}

.personal-details{
  font-weight: 500;
  line-height: 1.5;
}
.personal-details p{
height: 35px;
display: flex;
align-items: center;
white-space: nowrap;
}

.p-inputwrapper{
  width: 100%;
}









