/* src/app/components/user-list/user-list.component.css */
.user-list-container {
    height: 500px;
    width: 200px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    overflow-y: auto !important;

  }
  
  .user-list {
    list-style: none;
    padding: 0;
  }
  
  .user-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .user-list li:hover {
    background-color: #f0f0f0;
  }
  