<p-toast></p-toast>


<div class="top-profile  ">
  <h4>Register Security Gaurd</h4>
  <form [formGroup]="securityGuardForm">
    <div
          class="flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
        >
          <p>Role</p>
          <p-dropdown
            class="abc"
            [options]="roles"
            formControlName="role"
            optionLabel="name"
            placeholder="Select Your Role"
          />
        </div>
    <div
      class="p-field flex align-items-center gap-4 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="name">Firstname</label>
      <input id="name" type="text" formControlName="firstname" pInputText />
    </div>
    <div
    class="p-field flex align-items-center gap-4 justify-content-between px-4 flex-wrap mb-4"
  >
    <label for="name">Lastname</label>
    <input id="name" type="text" formControlName="lastname" pInputText />
  </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="lastname">Number</label>
      <input
        type="tel"
        pattern="[0-9]{10}"
        maxlength="10"
        placeholder="Phone Number"
        pInputText
        formControlName="contactNumber"
        inputmode="numeric"
      />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4"
    >
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        pInputText
        formControlName="email"
        placeholder=""
      />
    </div>
    
    <div  class="p-field flex align-items-center gap-6 justify-content-between px-4 flex-wrap mb-4">
      <label for="dateofbirth" class="flex align-items-center"
        >Date of Birth</label
      >
      <p-calendar
        name="dateofbirth"
        [iconDisplay]="'input'"
        [showIcon]="true"
        formControlName="dateofbirth"
        [style]="{ width: '100%' }"
        appendTo="body"

      />
    </div>
    <div
      class="p-field flex align-items-center gap-6 justify-content-center px-4 flex-wrap mb-4"
    >
      <p-button
        (click)="onSubmit()"
        label="submit"
    
      />
    </div>
  </form>
</div>


