<div class="page-container">
  <div class="card flex flex-wrap mb-6">
    <div class="flex flex-wrap justify-content-center align-item-center p-4">
        <div class="w-full h-full p-6 bg-cyan-600 align-item-center "><h4>Wing-A</h4></div>
    </div>




    <div class="flex-1  flex justify-content-between">
        <div class="bg-red-300">
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
        </div>
        <div class="bg-blue-300">
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
            <p>society society</p>
        </div>
    </div>
    <div class="flex-1">1</div>
  </div>
</div>
